$('#signInModal').modal('hide');
$('#flash').html("<div class='alert alert-warning'>Your account is tied to a third-party provider (Facebook, Google, etc). Please sign in through the third-party provider.</div>")
