$('#signInModal form p').fadeOut()
$('#signInModal form br').remove()
$('#signInModal form input[name="password"]').after("<p>Invalid sign in details.</p>")
$('#signInModal form label[for="remember_token"]').after("<br><br><br>")
